.users-list {
    background-color: #383838;
    color: #fff;
    width: 400px;
    font-size: 12px;
}
.user:hover {
    color: gray;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}